.wrapper {
  background-color: #eaeaea;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  top: 0;
  width: 25%;

  @media only screen and (max-width: 600px) {
    width: 0px;
    background-color: white;
  }
}

@keyframes fade-in {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-out {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}

.fade {
  animation: fade-in 0.5s ease-in forwards;
}

.fadeOut {
  animation: fade-out 0.5s ease-in forwards;
}

.exit {
  text-align: end;
  margin: 0 20px;
  font-size: 30px;
  font-weight: bold;

  @media only screen and (min-width: 601px) {
    display: none;
  }
}

.expand {
  position: fixed;
  right: 0;
  top: 28%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  border-top-left-radius:  50%;
  border-bottom-left-radius:  50%;
  background-color: gray;
  border: 1px black;
  width: 40px;
  height: 40px;
  text-align: center;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.list {
  list-style-type: none;
  padding: 20px;
  margin: 0;

  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}

.listElement {
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    font-weight: bold;
  }
}

.listSubElement {
  font-size: 1rem;
  @extend .listElement;
  text-indent: 10px;
  margin-top: 0;
}
