.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.overlay {
  position: relative;
 height: 100%;
  z-index: 12;
  opacity: 0.5;
  overflow: hidden;
  background: gray;
}

.imageWrapper {
  width: 90%;
  border-radius: 10px;
  border: 2px black;
  background-color: white;

  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  z-index: 13;
}

.image {
  width: 100%;
}